

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    animation: back-ani 10s linear infinite;
}

header {
    background-image: url(blurryheart.jpeg) ;
    background-size: cover; /* Adjust the image to cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    color: 	white;
    text-align: center;
    text-shadow: 2px 2px 4px #ff0081; /* Horizontal offset, vertical offset, blur radius, color */
    padding: 1em 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    width: 70%;
    height: 1450px;
    margin: 20px auto;
    padding: 20px;
    background-color: 	#ffaed7;
    border-radius: 8px;
    box-shadow: 0 0 10px #634f63(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  
}

.content p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}




.NokkPic {
    text-align:center;
}

.NokkPic p{
    margin-top: 10px;
    color: white;
}

img {
    border-radius: 10%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    height: 400px;
    width: 250px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: 	#ff77bc;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: -10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 1px solid #ffcae5;;
    border-radius: 5px;
    height:100%;
}


@keyframes back-ani {
    0%   {background-color:	#ff0081;}
    50%  {background-color:#ffcae5;}
    100% {background-color:	#ff0081;}
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

